.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

 }

.picture {
	background-image: url(2020.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 640px;
	height: 731px;
	position: absolute;
	top: 60px;
	left: 620px;
} 

.rule {
	position: absolute;
	height: 15.4026px;
	width: 96.2272px;
	background-color: red;
	top: 515px;
	left: 116px;
	opacity: 0.6;
}

.title {  
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 10vw;
	left: 112px;
	top: 345px;
	width: 800px
	font-weight: bold;
	color: white;
	font-size: 20px;
}

.info { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 118px;
	top: 510px;
	width: 800px
	font-weight: normal;
	color: white;
	font-size: 18px;
}

.teal {
	color: rgb(101, 200, 208);
}

#admission { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 118px;
	top: 680px;
	width: 800px
	font-weight: normal;
	color: white;
	font-size: 12px;
}

h1 {
	margin-top: -10px;

} 

@media (max-width: 554px) {

}

@media (max-width: 375px) {
	h1 {
		font-size: 10vw;
	}
}