body {
	width: 100vw;
	height: 100vw;
	overflow: hidden;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

 }

.picture {
	background-image: url(2020.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 640px;
	height: 731px;
	position: absolute;
	top: 90px;
	left: 530px;
} 

.rule {
	position: absolute;
	height: 12px;
	width: 96.2272px;
	background-color: red;
	top: 565px;
	left: 110px;
	opacity: 0.6;
}

.nct {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5vw;
	left: 105px;
	top: 390px;
	width: 800px
	font-weight: 700;
	color: white;
}

.title {  
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 7vw;
	left: 105px;
	top: 460px;
	width: 800px
	font-weight: 700;
	color: white;
	font-size: 20px;
}

.info { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 110px;
	top: 550px;
	width: 800px
	font-weight: 300;
	color: rgb(242, 242, 242);
	font-size: 18px;
}

.location {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 110px;
	top: 640px;
	width: 1500px;
	font-weight: 300;
	color: rgb(242, 242, 242);
	font-size: 18px;
}

.teal {
	color: rgb(101, 200, 208);
}

#admission { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 109px;
	top: 730px;
	width: 800px
	font-weight: normal;
	color: white;
	font-size: 15px;
}

h1 {
	margin-top: -10px;

} 


@media (max-width: 375px) {

body {
	width: 100vw;
	height: 100vw;
	overflow: hidden;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 400vw;
	height: 400vh;
	background-image: url("small.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.picture {
	background-image: url(2020.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1200px;
	height: 1291px;
	position: absolute;
	top: 30px;
	left: 130px;
} 

.rule {
	position: absolute;
	height: 40px;
	width: 237px;
	background-color: red;
	top: 1680px;
	left: 130px;
	opacity: 0.6;
}

.nct {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 20vw;
	left: 125px;
	top: 1100px;
	width: 1000px;
	font-weight: 500;
	color: white;
}

.title {  
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 4vw;
	left: 123px;
	top: 1300px;
	width: 2000px;
	font-weight: 500;
	color: white;
	font-size: 30px;
	line-height: 160px;
}

.info { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 124px;
	top: 1600px;
	width: 1500px;
	font-weight: 300;
	color: rgb(242, 242, 242);
	font-size: 70px;
	line-height: 100px;
}

.teal {
	color: rgb(101, 200, 208);
}

.location {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 124px;
	top: 1970px;
	width: 1500px;
	font-weight: 300;
	color: rgb(242, 242, 242);
	font-size: 70px;
	line-height: 100px;
}


#admission { 
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left: 125px;
	top: 2350px;
	width: 1500px;
	font-weight: 300;
	color: white;
	font-size: 60px;
}

h1 {
	font-size: 140px;
	margin-top: -10px;
}
 

 