body {
	width: 100vw;
	overflow-x: hidden;
	background-color: white;
}

.about {
	position: absolute;
	top: 80px;
}


.quote {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: normal;
	left: 230px;
	top: 175px;
	width: 500px;

} 

.aboutus {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 35px;
	font-style: normal;
	width: 1000px;
	left: 230px;
	top: 180px;
	line-height: 52px;

} 

.stories {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 38px;
	top: 33px;
}

.credits {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 12px;
	font-style: italic;
	width: 1000px;
	left: 865px;
	top: 370px;

}

.signup {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: normal;
	width: 1000px;
	left: 570px;
	top: 650px;

}

.navigation {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: normal;
	right: -1042px;
	top: 35px;
	color: black;
	width: 500px;
}

li {
	display: inline;
}

a { 
    padding: 10px; 
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
	color: black;
}

.background {
	position: absolute;
	top: 650px;
	left: 640px;
	width: 130px;
	height: 130px;
	background-image: url("logo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

 }
 









