.heading {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	top: 90px;
	left: 40px;
	width: 800px
	color: black;
}

.quote {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200; 
	font-size: 20px;
	font-style: italic;
	left: 45px;
	top: 175px;

} 

.stories {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 40px;
	top: 5px;

} 

.navigation {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	left: 930px;
	top: 30px;
}


li {
	display: inline;
}

a { 
    padding: 10px 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

.description {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 735px;
	top: 210px;
} 

.description2 {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	width: 500px;
	left: 735px;
	top: 260px;
}

.description3 {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 735px;
	top: 400px;
} 

.description4 {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	width: 500px;
	left: 735px;
	top: 450px;
}

.credit {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 735px;
	top: 520px;
}

.creditname {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	width: 500px;
	left: 735px;
	top: 565px;
}

.absolute-block {
	position: relative;
	top: 250px;
	left: 40px;
	width: 435px;
	height: 435px;
	background-color: rgb(242,242,242);
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.inline-block {
	position: relative;
	top: 250px;
	left: 40px;
	width: 435px;
	height: 435px;
	background-color: rgb(242,242,242);
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.picture {
	position: absolute;
	background-image: url(centralam-R1C1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 640px;
	height: 731px;
	top: 132px;
	left: 45px;
} 
