.quote {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-style: normal;
	left: 230px;
	top: 170px;

} 

.aboutus {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 40px;
	font-style: normal;
	width: 1000px;
	left: 230px;
	top: 170px;

} 


.stories {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 40px;
	top: 5px;

} 

}
