body {
	width: 100vw;
	overflow-x: hidden;
 	overflow-y: visible; 
}

.background {
	position: absolute;
	top: 130px;
	left: 900px;
	height: 400px;
	width: 400px;
	background-image: url("africa.png");
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(110deg);

}

.background2 {
	position: absolute;
	top: 450px;
	left: -100px;
	height: 600px;
	width: 600px;
	background-image: url("africa.png");
	background-repeat: no-repeat;
	background-size: contain;
}


.heading {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 40px;
	left: 490px;
	top: 90px;
	text-align: center;
	width: 800px
	color: black;
}

.description {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; 
	font-size: 20px;
	font-style: italic;
	left: 560px;
	top: 165px;
}

.location {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; 
	font-size: 20px;
	font-style: italic;
	left: 1200px;
	top: 244px;
}


.stories {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	left: 40px;
	top: 7px;

} 

.navigation {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	left: 1050px;
	top: 43px;
}

li {
	display: inline;
}

a { 
    padding: 10px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
	color: black;
}


.allshapes {
	width: 430px;
	height: 430px;
	top: 250px;
	left: 28px;
	position: relative;
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 15px;
	background-position: center;

}

.allshapes:hover {
  box-shadow: 0 0 11px rgb(55,55,55); 
}

.southafrica {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; 
	font-size: 20px;
	font-style: italic;
	left: 45px;
	top: 200px;

}

.rone-cone {
	background-image: url("southafrica.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.rone-ctwo {
	background-image: url("southafrica2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.rone-cthree {
	background-image: url("southafrica3.png");
	background-repeat: no-repeat;
	background-size: cover;

} 

.bumpout {
	left: 28px;
}

.subscriptionall {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 2000px;
}

.submissionbox {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 40px;
	top: 700px;
	left: 380px;
	text-align: center;
}

.subscription {
	position: absolute;
	top: 870px;
	left: 450px;

}

#mc_embed_signup { border: none; text-align: center; width: 100%; }  

.mc-field-group { display: inline-block; }  

#mce-EMAIL { font-family: 'Montserrat', sans-serif; font-size: 1em; border: 2px solid black ; color: black; background-color: #fff; padding: .7em 9em .7em 1em; -webkit-border-radius: 0px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; }  

.clear { display: inline-block; }  

.button { font-family: 'Montserrat', sans-serif; font-size: 1em; letter-spacing: .03em; color: #fff; background-color: rgb(10, 10, 10) ; padding: .7em 2em; border: 2px solid black ; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } 

:-webkit-input-placeholder { color: #ABB0B2 ; }  
:-moz-placeholder { color: #ABB0B2 ; }  
::-moz-placeholder { color: #ABB0B2 ; }  
:-ms-input-placeholder { color: #ABB0B2 ; }  

@media (max-width: 768px) { 
  
.mc-field-group { display: block; max-width: 100%; }
#mce-EMAIL { padding: .7em 0 .7em 1em; width: 96%; margin: 0; }
.clear { display: block; width: 100% }
.button { width: 100%; margin: .5em 0 0 0; }
  
}