.tag {
	position: absolute;
	background-image: url(tag.png);
	top: 580px;
	left: 710px;
	height: 160px;
	width: 400px;
	background-size: 100% 100%
}

.card {
	position: absolute;
	background-image: url(cardanim);
	top: 95px;
	left: 330px;
	height: 533px;
	width: 790px;
	background-size: 100% 100%
}

.home {
	position: absolute;
	background-image: url(backpage.png);
	top: 20px;
	left: 0px;
	height: 100px;
	width: 360px;
	background-size: 100% 100%
}

