p {
	width: 330px;
	margin-left: 180px;
	color: rgb(80, 80, 80);
	font-family: Helvetica;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

.allshapes {
	position: absolute;
}

.rbig {
	position: absolute;
	top: 50px;
	left: 25px;
}

.rtop {
	height: 36.7209px;
	width: 36.7209px;
	background-color: black;
	border-radius: 50%;
	top: 100px;
	left: 200px;
}

.rtop2 {
	height: 19.4276px;
	width: 12.2403px;
	background-color: white;
	border-radius: 50%;
	top: 110px;
	left: 206px;
	transform: rotate(-21.819deg);
}


.rbottom {
	height: 36.7209px;
	width: 36.7209px;
	background-color: black;
	border-radius: 50%;
	top: 130px;
	left: 198px;
}

.rbottom2 {
	height: 36.7209px;
	width: 24.4806px;
	background-color: white;
	border-radius: 50%;
	top: 138px;
	left: 200px;
}

.rleft {
	height: 67px;
	width: 39px;
	background-color: black;
	border-radius: 50%;
	top: 100px;
	left: 168px;
}

.rleft2 {
	height: 48.9612px;
	width: 26px;
	background-color: white;
	border-radius: 50%;
	top: 105px;
	left: 163px;
}

.rtail {
	height: 12.1204px;
	width: 22px;
	background-color: black;
	border-radius: 50%;
	top: 100px;
	left: 172px;
	transform: rotate(161deg);

}

.atop {
	height: 67.572px;
	width: 40.042px;
	background-color: black;
	border-radius: 50%;
	top: 147px;
	left: 310px;
}

.atop2 {
	height: 53.5px;
	width: 30.1104px;
	background-color: white;
	border-radius: 100%;
	top: 152px;
	left: 325px;
}

.aleft {
	height: 65.8072px;
	width: 42.9068px;
	background-color: black;
	border-radius: 50%;
	top: 150px;
	left: 280px;
	transform: rotate(-163.577deg);

}

.aleft2 {
	height: 38px;
	width: 15px;
	background-color: white;
	border-radius: 50%;
	top: 160px;
	left: 300px;
	transform: rotate(-161deg);

}


.atail {
	height: 23px;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	top: 144px;
	left: 330px;
	transform: rotate(-57deg);

}

.nright {
	height: 70px;
	width: 42.3045px;
	background-color: black;
	border-radius: 50%;
	top: 146px;
	left: 392px;
}

.nright2 {
	height: 39.6287px;
	width: 31.3993px;
	background-color: white;
	border-radius: 50%;
	top: 145px;
	left: 387px;
	transform: rotate(-45deg);

}

.nmid {
	height: 68.6575px;
	width: 50.7525px;
	background-color: black;
	border-radius: 50%;
	top: 144px;
	left: 363px;
	transform: rotate(-26.844deg);
}


.nmid2 {
	height: 57px;
	width: 54px;
	background-color: white;
	border-radius: 50%;
	top: 176px;
	left: 360px;
}


.nleft {
	height: 64px;
	width: 43px;
	background-color: black;
	border-radius: 50%;
	top: 152px;
	left: 360px;

}

.nleft2 {
	height: 52px;
	width: 28px;
	background-color: white;
	border-radius: 50%;
	top: 151px;
	left: 353px;

}


.ntail {
	height: 29px;
	width: 14px;
	background-color: black;
	border-radius: 50%;
	top: 141px;
	left: 366px;
	transform: rotate(-120deg);

}


.gbody {
	height: 71.5728px;
	width: 58px;
	background-color: black;
	border-radius: 50%;
	top: 145px;
	left: 447px;

}

.gbody2 {
	height: 55px;
	width: 32px;
	background-color: white;
	border-radius: 50%;
	top: 145px;
	left: 473px;
	transform: rotate(-160deg);


}

.gtail {
	height: 23.1864px;
	width: 21.5262px;
	background-color: black;
	border-radius: 50%;
	top: 165px;
	left: 483px;
	transform: rotate(-332.341deg);
}


.gtail2 {
	height: 29px;
	width: 27px;
	background-color: white;
	border-radius: 50%;
	top: 151px;
	left: 477px;
	transform: rotate(-310deg);

}

.gear {
	height: 25px;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	top: 141px;
	left: 481px;
	transform: rotate(295deg);
}












